@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:700&display=swap'); 
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import 'variables';

/* ELEMENTS */
a{
    text-decoration: none;
}

a:hover{
    border-bottom: 2px solid $mainOne;
    color: $mainTwo;
}

body{
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6{
    font-family: $headFont;
}

p, a{
    font-family: $mainFont;
    color: $textColor;
}

/* CLASSES */
.contactLetter{
    line-height: 1.5rem;
    border: 0;
    outline: none;
    appearance: none;
}

.fade{
    animation: fade 1.2s;
}

.headImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.letterText{
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}

.messageInfo{
    width: 15%;
    margin-bottom: 1rem;
    text-align: right;
}

.navigation{
    width: 80%;
    margin-top: -10px;
    a{
        display: block;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    li:first-child{
        display: inline-block;
    }
    li{
        display: none;
    }
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    &:hover{
        border-bottom: 0px transparent;
        color: white;
    }
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

.responsive li{
    display: block;
}

.slideWrapper{
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    img{
        max-width: 250px;
    }
}

.slides{
    display: none;
}

.socialMedia{
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
    a{
        width: 25px;
        height: 25px;
        line-height: 25px;
        position: relative;
        margin: 0 5px;
        text-align: center;
        display: inline-block;
        margin-left: 15px;
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        i{
            position: relative;
            top: 2px;
            left: 1px;
        }
        &::before{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -1.5px;
            border: 1px solid $accentOne;
            border-radius: 2px;
            transform: rotate(45deg);
            transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
            padding: 1px;
        }
        &:hover{
            color: white;
            border-bottom: 0px transparent;
            &::before{
                background: $accentOne;
            }
        }
    }
}

.wrapper{
    background-color: white;
    margin: 50px;
    border: 2px solid $mainOne;
    text-align: center;
}
/* ID'S */
#enter{
    display: block;
    transition: opacity 0.33s;
}

#message{
    width: 30%;
    height: 8rem;
    resize: none;
}

#send{
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: $mainTwo;
    color: white;
    transition: background-color 0.2s;
    &:hover, &:focus {
        outline: none;
        opacity: .85;
    }
}
/* KEYFRAMES */
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}