//FONTS
$mainFont: 'Lato', sans-serif;
$headFont: 'Playfair Display', serif;

//COLORS
$mainOne: #9590A8; //dark purple
$mainTwo: #68A691; //green
$accentOne: #DAD2D8; //light purple
$background-color: rgb(247, 247, 247); //grayish
$textColor: rgba(0,0,0,.5);