@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    max-width: 100%;
}

header{
    background-color: #6495ed;
    color: #faebd7;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    height 100%;
}

nav a, nav a:visited{
    color: #FAEBD7;
    text-decoration: none;
}

nav a:active, a:active, article a:active{
    color: #DEB887;
}

nav a:hover, a:hover{
    text-decoration: underline;
}

a, a:visited{
    color: #6495ED;
    text-decoration: none;
}

article a, article a:visited{
    color: black;
    text-decoration: none;
}

article a:hover{
    color: #6495ED;
    text-decoration: underline;
}

h1, h2{
    font-family: Lora, serif;
}

main{
    background-color: #faebd7;
}

@media screen and (min-width: 50em){
    body > div{
        width: 80%;
        max-width: 75em;
        margin: 0 auto;
    }
    article{
        flex-flow: row nowrap;
    }
    .post-date{
        width: 25%;
    }
    .post-content{
        border-left: 1px solid #d0d0d0;
        border-bottom: 1px dotted #d0d0d0;
        border-top: 0;
        width 75%;
        flex: 3;
    }
}