body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

h1 {
    font-size: 2.4rem;
    color: #ffffff;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header,
footer,
footer a {
    text-align: center;
    background-color: #70EFE7;
    color: whitesmoke;
}

header img {
    width: auto;
    height: auto;
    box-shadow: 5px 5px 5px gray
}

footer{
    font-size: smaller;
}

ul{
    margin: 0 auto;
    max-width: 300px;
}