@media only screen and (min-width: 60em){
    article img{
        margin-left: 15px;
    }

    #gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .headings h1{
        font-size: 3.5rem;
    }

    #logo{
        width: 160px;
    }

    .navigation a{
        font-size: 1.15rem;
    }

    main h2{
        font-size: 2rem;
    }
}