body{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

li{
    margin: 0px 10px 0px 10px;
    list-style-type: none;
    padding-left: 0; 
    font-size: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}