@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap');

/* font-family: 'Raleway', sans-serif; body*/
/* font-family: 'Josefin Sans', sans-serif; headlines*/

.active{
    color: #ff6b6b;
    font-weight: bolder;
}

a:link{
    text-decoration: none;
}

a:hover{
    color: #4ecdc4;
}

article{
    padding: 0px 45px;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: 'Josefin Sans', sans-serif;
}

img{
    width: 400px;
}

li{
    margin: 0px 10px 0px 10px;
    list-style-type: none;
    padding-left: 0; 
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.name{
    padding-left: 45px;
}

p{
    font-family: 'Raleway', sans-serif;
}

section{
    display: grid;
    grid-template-columns: 1fr;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ceeaf7;
    padding: 7px 0px;
}