@media only screen and (min-width: 32.5em){
    article, article h3, article h4{
        text-align: right;
    }
    
    article img{
        float: right;
        margin-left: 8px;
    }
    
    #fiveDay{
        display: block;
        text-align: center;
    }
    
    .headings h1{
        font-size: 3rem;
    }

    #logo{
        width: 110px;
    }

    #map{
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .motto{
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    .navigation{
        display: flex;
    }

    .navigation li:first-child{
        display: none;
    }

    .navigation li{
        display: block;
        flex: 1 1 100%;
    }

    table{
        margin-left: auto;
        margin-right: auto;
    }
}