@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');

/* IDs */
#question {
    font-size: 24px;
}

#result{
    color: #fff;
    margin: 0.2em 0;
    width: 100%;
    text-align: center;
}

/* Classes */
.correct {
    background-color: #0c0;
}

.dojo {
    background: url(https://cdn.rawgit.com/alexmwalker/6acbe9040d9fe6e5e9fd758a25e1b2a5/raw/9c8131eb2ccc1e3839a5a5114cb16b5dc74daf04/dojo.svg) no-repeat;
    width: 100%;
    height: 800px;
    background-size: 100% auto;
    padding-top: 10px;
}

.quizBody{
    background: rgba(255, 255, 255, 1);
    margin: 150px 33%;
    padding: 10px 20px 50px 20px;
    box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, .3);
}

.wrong {
    color: #fff;
    background-color: #c00;
}

/* Elements */
body {
    background: #5F1C1C;
    font-family: "Roboto", sans-serif;
}

button{
    color: white;
    background-color: navy;
    border-color: white;
    border-radius: 4px;
    margin: .2em 0;
    display: block;
    width: 100%;
    font-size: 24px;
}

h1{
    color: navy;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 48px;
    margin: 0;
}