@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans&display=swap');

article{
    background-color: powderblue;
    margin: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

img{
    height: 250px;
}

footer{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1, h2{
    color: navy;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

section{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 32.5em){
    section{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em){
    section{
        grid-template-columns: 1fr 1fr 1fr;
    }
}