@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

//FONTS
$headFont: 'Cormorant Garamond', serif;
$bodyFont: 'Raleway', sans-serif;

//COLORS
$blue: #0892A5;
$white: #EBF2FA;
$black: #131112;
$green: #8BB174;
$pink: #ED6B86;

//ID'S
#name{
    text-align: center;
    color: $blue;
}
//CLASSES

//ELEMENTS
body{
    background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headFont;
}

p{
    font-family: $bodyFont;
    color: $black;
}