@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

//FONTS
$headFont: 'Cormorant Garamond',
serif;
$bodyFont: 'Raleway',
sans-serif;

//COLORS
$blue: #0892A5;
$white: #EBF2FA;
$black: #131112;
$green: #8BB17470;
$pink: #ED6B86;

//ID'S
#name {
    text-align: center;
    color: $blue;
}

//CLASSES
.caption{
    color: $white;
    font-size: 18px;
    font-weight: bold;
    background-color: $green;
    padding: 8px 0px;
    position: absolute;
    bottom: 11%;
    width: 29.6%;
    text-align: center;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4;}
    to{opacity: 1;}
}

.mySlides {
    display: none;

    img {
        width: 30%;
    }
}

.numberText{
    color: $white;
    font-size: 18px;
    padding: 150px 12px;
    position: absolute;
    top: 0;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: 70%;
    margin-top: 10%;
    padding: 18px;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    :hover{
        background-color: $green;
    }
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

//ELEMENTS
body {
    background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headFont;
}

p,
div {
    font-family: $bodyFont;
    color: $black;
}